{{outlet}}
{{#if this.addLiteral.isRunning}}
  <div class="task-running">
    <div class="uk-position-center uk-text-large">
      Adding Tag from Match
    </div>
  </div>
{{/if}}
{{#if this.saveSuggestion.isRunning}}
  <div class="task-running">
    <div class="uk-position-center uk-text-large">
      Saving Suggestion
    </div>
  </div>
{{/if}}
{{#if this.updateLetter.isRunning}}
  <div class="task-running">
    <div class="uk-position-center uk-text-large">
      Updating Letter
    </div>
  </div>
{{/if}}
{{#if this.flagEntity.isRunning}}
  <div class="task-running">
    <div class="uk-position-center uk-text-large">
      Flagging Text
    </div>
  </div>
{{/if}}
{{#if this.unTagEntity.isRunning}}
  <div class="task-running">
    <div class="uk-position-center uk-text-large">
      Clearing Selection
    </div>
  </div>
{{/if}}

<div class="uk-child-width-1-2" uk-grid>
  {{#if model.letter.content}}
    <section class="">
      {{!-- If text selected --}}
      {{#if selectedText}}
        <form class="uk-form-stacked">
          {{#if (not this.tagToEdit)}}
            <legend class="uk-legend uk-margin">Tag Entity</legend>
            <section>
              Selected Text:
              <strong>
                {{this.selectedText}}
              </strong>
            </section>
            <section class="uk-margin-small">
              <UkButton @on-click={{action "reset"}} @color="primary">
                Deselect
              </UkButton>
            </section>
            {{!-- Select Type --}}
            {{!-- {{#if model.entityTypes}} --}}

            <section class="uk-margin">
              <label class="uk-form-label uk-text-large" for="select-type">
                Type
              </label>
              <section class="uk-form-controls">
                <select id="select-type" class="uk-select" onchange={{action "setType"}}>
                  <option value="" selected>
                    Select Type
                  </option>
                  {{#each model.entityTypes as |type|}}
                    <option value={{type.id}} selected={{or
                      (eq entityType type.label)
                      (eq selectedType.label type.label)
                      }}>
                      {{type.label}}
                    </option>
                  {{/each}}
                </select>
              </section>
            </section>
          {{/if}}
          {{!-- If entity selected --}}

          {{!--  Type Selected  --}}
          {{#if (and (and (and this.selectedType (not this.entitySelected)) (not this.newEntity)) (not this.tagToEdit))}}

            <section class="uk-margin">
              <label class="uk-form-label uk-text-large" for="entity-search">
                Search
              </label>
              <section class="uk-form-controls" uk-grid>
                <section class="uk-width-2-3">
                  <form class="uk-search uk-search-default">
                    <span uk-search-icon></span>
                    {{input class="uk-search-input" id="entity-search" type="search" value=this.queryText onkeydown=(action (mut this.queryText) value="target.value")}}
                  </form>
                </section>
                <section class="uk-width-1-3">
                  <UkButton @color="primary" @on-click={{action "getLiteral"}}>
                    Search
                  </UkButton>
                </section>
              </section>
            </section>


            {{!-- {{#if (is-empty entityToEdit.id)}} --}}
            <section>
              <UkButton @on-click={{perform flagEntity}} @color="primary">
                Not Sure
              </UkButton>
              <UkButton @on-click={{perform suggestNewEntity}} @color="secondary">
                Suggest New
                {{selectedType.label}}
              </UkButton>
            </section>
            <section class="uk-margin">
              <SearchResults @matches={{this.matches}} @results={{this.results}}
                @addExistingLiteral={{this.addExistingLiteral}} @addLiteral={{this.addLiteral}}></SearchResults>
            </section>
          {{else if this.tagToEdit}}
            <section class="uk-form-controls">
              <UkButton @color="secondary" @on-click={{action "removeTag"}}>
                Remove Tag
              </UkButton>
              <UkButton @color="link" @on-click={{action "reset"}}>
                Cancel
              </UkButton>
            </section>
          {{else if newEntity}}
            {{pell-editor
              class="pell"
              value=newEntity.suggestion
              pellOptions=editorOptions
              onChange=(action (mut newEntity.suggestion))
            }}
            <UkButton @color="primary" @on-click={{perform saveSuggestion}}>
              Save
            </UkButton>
          {{else}}
          {{/if}}
        </form>
      {{else}}
        <h1 class="uk-heading-hero uk-text-muted uk-text-uppercase uk-text-center">
          Select text to tag
        </h1>
      {{/if}}
    </section>
    <LetterWrapper>
      <div class="uk-panel uk-panel-scrollable letter-container
          {{if selectedText "no-select"}}">
        <LettersView @letter={{model.letter}} @select={{action "setSelected"}}
          @editTag={{perform editTag}}>
        </LettersView>
      </div>
    </LetterWrapper>
  {{else}}
    <div class="uk-width-1-1">
      <LetterInput @setLetter={{action "setLetter"}} @letterContent={{letterContent}} class="letter-container" />

    </div>
  {{/if}}
</div>