<section class="uk-margin">
  {{!-- <section class="uk-text-large">
    Search Results
  </section> --}}

  {{!-- <ul uk-accordion> --}}
    {{!-- {{#if @matches}}
      <li>
        <a class="uk-accordion-title" href="#">
          Matches {{@matches.length}}
        </a>
        <dl class="uk-description-list uk-description-list-divider uk-accordion-content">
          {{#each @matches as |match|}}
            <dt role="button" onclick={{perform @addExistingEntity match}}>
              {{{match.entity.label}}}
            </dt>
            <dd role="button" onclick={{perform @addExistingEntity match}}>
              {{#if match.entity.properties.description}}
                {{{match.entity.properties.description}}}
              {{else}}
                "No description"
              {{/if}}
            </dd>
          {{/each}}
        </dl>
      </li>
    {{/if}} --}}
    {{#if results}}
      {{!-- <li> --}}
        <section class="uk-text-large">
          Suggestions from database {{@results.length}}
        </section>
        <dl class="uk-description-list uk-description-list-divider  uk-accordion-content">
          {{#each @results as |result|}}
            <dt class="result" role="button" onclick={{perform @addExistingEntity result}}>
              {{{result.label}}} {{if (eq result.type_label 'Person') (concat '(' result.properties.life_dates ')')}}
            </dt>
            <dd role="button" onclick={{perform @addExistingEntity result}}>
              {{{if result.properties.description result.properties.description "No description"}}}
            </dd>
          {{/each}}
        </dl>
      {{!-- </li> --}}
      {{!-- {{else}}
      <li>
        <i>
        No suggestions found
        </i>
      </li> --}}
    {{/if}}
  {{!-- </ul> --}}
</section>