<section class="uk-margin">
  {{#if results}}
    <section class="uk-text-large">
      Suggestions from database {{@results.length}}
    </section>
    <ul class="uk-list uk-list-divider" uk-accordion>
      {{#each @results as |result|}}
        <li>
          <a href="#" class="uk-accordion-title uk-text-large uk-text-bold">
            {{{result.label}}} {{if (eq result.type_label 'Person') (concat '(' result.properties.life_dates ')')}}
          </a>
          {{#if result.altSpellings}}
            <section>
              <strong>AKA:</strong> {{result.altSpellings}}
            </section>
          {{/if}}
          <section>
            {{{if result.properties.description result.properties.description "No description"}}}
          </section>
          <section class="uk-accordion-content">
            {{#each-in result.properties as |k v|}}
              <span>{{k}}</span>: {{{v}}}<br>
            {{/each-in}}
            <div class="uk-margin">
              <UkButton @color="primary" @on-click={{perform @addExistingEntity result}}>
                Add Tag
              </UkButton>
            </div>
          </section>
        </li>
      {{/each}}
    </ul>
  {{/if}}
</section>