<section class={{this.classList}}>
  <div class="uk-margin uk-grid-small uk-child-width-auto uk-grid">
    {{#each @entityTypes as |entityType|}}
      <label>
        {{input type="checkbox" class="uk-checkbox" name=entityType.label checked=entityType.show change=(pipe (toggle "show" entityType) (action "toggleTag" entityType))}}
        {{entityType.pretty_label}}
      </label>
    {{/each}}
    <label>
      {{input type="checkbox" class="uk-checkbox" name="all" checked=this.showAll change=(action "toggleAll")}}
      All
    </label>
  </div>
  {{yield}}
</section>