<div class="uk-margin">
  <label class="uk-form-label">Label</label>
  {{pell-editor
      class="pell"
      value=@entity.label
      pellOptions=editorOptions
      onChange=(action (mut @entity.label))
    }}
  {{!-- {{input value=(mut @entity.label) class="uk-input"}} --}}
</div>
{{#each-in @entity.properties as |property value|}}
  {{#if (isinstanceof value "Array")}}
    <div class="uk-margin">
      <label class="uk-form-label">{{titleize property}}</label>
      {{#each value as |l index|}}
        {{input value=l key-up=(action "updateArrayItem" @entity.properties property index) class="uk-input" placeholder=(concat 'Add to ' (titleize property))}}
      {{/each}}
      <UkButton @on-click={{action "addToArrayProp" property}}>Add {{titleize property}}</UkButton>
    </div>
  {{else if (isinstanceof value "Object")}}
    {{#each-in value as |p v|}}
      {{#if (isinstanceof v "Array")}}
        <label class="uk-form-label">{{titleize p}}</label>
        {{#each v as |k|}}
          <div class="uk-margin">
            {{#if (isinstanceof k "Object")}}
              {{#each-in k as |a b|}}
                <label class="uk-form-label">{{titleize a}}</label>
                {{input value=(mut (get k a)) class="uk-input"}}
              {{/each-in}}
            {{!-- {{else}}
            !!!!!
              {{input value=k class="uk-input"}} --}}
            {{/if}}
          </div>
        {{/each}}
      <UkButton @on-click={{action "addToObjectProp" property v p}}>Add {{titleize p}}</UkButton>
        {{!-- {{else}}
        <div class="uk-margin">
          <label class="uk-form-label">
            {{titleize p}}!!!!
          </label>
          {{input value=v class="uk-input"}}
        </div> --}}
      {{/if}}
    {{/each-in}}
  {{else}}
    <div class="uk-margin">
      <label class="uk-form-label">
        {{titleize property}}
      </label>
      {{!-- {{#if (or (eq property 'description') (eq property 'profile'))}} --}}
        {{pell-editor
          class="pell"
          value=value
          pellOptions=editorOptions
          onChange=(action (mut (get @entity.properties property)))
        }}
      {{!-- {{else}}
        {{input value=(mut (get @entity.properties property)) class="uk-input"}}
      {{/if}} --}}
    </div>
  {{/if}}
{{/each-in}}
<UkButton @color="primary" @on-click={{@save}}>{{if @actionText @actionText "Save"}}</UkButton>
