{{#if (eq entity.entity_type 'person')}}
<label class="uk-form-label" for="first">First Name</label>
<div class="uk-form-controls">
  {{input class='uk-input' id='first' type='text' value=@entity.first}}
</div>

<label class="uk-form-label" for="last">Last Name</label>
<div class="uk-form-controls">
  {{input class='uk-input' id='last' type='text' value=@entity.last}}
</div>

<label class="uk-form-label" for="description">Description</label>
<div class="uk-form-controls">
  {{textarea class='uk-textarea' id='description' value=@entity.notes}}
</div>
{{/if}}

{{#if (eq property_type 'array')}}
  {{#power-select-with-create
  class='uk-select'
  search=search
  options=searchResults
  selected=''
  placeholder=(concat 'Select or create ' property.label)
  onchange=(action 'associateRepo')
  oncreate=(action 'create' property) as |repo selected|
  }}
  {{repo.label}}
  {{/power-select-with-create}}
{{/if}}
{{yield}}